h1 {
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: 5px;
}

.description {
    width: 60%;
    text-align: center;
}